PharmaCare/.vs/PharmaCare/v15/Server/sqlite3/storage.ide-wal
PharmaCare/.vs/PharmaCare/v15/Server/sqlite3/storage.ide-shm
PharmaCare/.vs/PharmaCare/v15/Server/sqlite3/storage.ide
PharmaCare/.vs/PharmaCare/v15/Server/sqlite3/db.lock
