PharmaCare/.vs/PharmaCare/v15/Server/sqlite3/storage.ide-wal
PharmaCare/.vs/PharmaCare/v15/Server/sqlite3/storage.ide-shm
PharmaCare/.vs/PharmaCare/v15/Server/sqlite3/storage.ide
PharmaCare/.vs/PharmaCare/v15/Server/sqlite3/db.lock
PharmaCare/.vs/PharmaCare/v15/.suo
PharmaCare/PharmaCare/obj/Debug/PharmaCare.csproj.FileListAbsolute.txt
PharmaCare/PharmaCare/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PharmaCare/.vs/config/applicationhost.config
PharmaCare/PharmaCare/obj/Debug/PharmaCare.pdb
PharmaCare/PharmaCare/obj/Debug/PharmaCare.csproj.CoreCompileInputs.cache
PharmaCare/PharmaCare/bin/PharmaCare.pdb
PharmaCare/PharmaCare/bin/PharmaCare.dll
PharmaCare/PharmaCare/obj/Debug/PharmaCare.dll
*.config
*.cache
*.dll
*.config
