<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" 
    Inherits="PharmaCare.Site" ClientIDMode="Static" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>PharmaCare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="Content/bootstrap.min.css" rel="stylesheet" />
        <link href="Content/site.css" rel="stylesheet" />
        <script src="Scripts/jquery-1.9.1.min.js"></script>
        <script src="Scripts/bootstrap.min.js"></script>
        <asp:ContentPlaceHolder ID="headPlaceholder" runat="server"></asp:ContentPlaceHolder>
    </head>
    <body>       
        <div class="container">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <!-- navbar body - nav content for toggling -->
                    <div id="mainMenu">
                        <h2>PharmaCare</h2>
                        <ul id="navList" runat="server" class="nav">
                            <li runat="server"> 
                                <asp:HyperLink NavigateUrl="~/Home.aspx" runat="server">
                                    Home
                                </asp:HyperLink>
                            </li>
                            <li runat="server">                               
                                <asp:HyperLink NavigateUrl="~/Staff.aspx" runat="server">
                                    Staff
                                </asp:HyperLink>
                            </li>
                            <li runat="server">
                                <asp:HyperLink NavigateUrl="~/Nurse.aspx" runat="server">
                                    Nurse
                                </asp:HyperLink>
                            </li>
                            <li runat="server">
                                <asp:HyperLink NavigateUrl="~/Pharmacist.aspx" runat="server">
                                    Pharmacist
                                </asp:HyperLink>
                            </li>
                            <li runat="server">
                                <asp:HyperLink NavigateUrl="~/Doctor.aspx" runat="server">
                                    Doctor 
                                </asp:HyperLink>
                            </li>
                            <li runat="server">
                                <asp:HyperLink NavigateUrl="~/LogIn.aspx" runat="server">
                                    Log In
                                </asp:HyperLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <form id="form1" runat="server" class="form-horizontal">            
                <hr />
                <main class="row">
                    <div class="col-sm-12">
                        <asp:ContentPlaceHolder ID="mainPlaceholder" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </main>
                <footer class="text-center text-capitalize">
                    <label>copyright &copy; PharmaCare, all rights reserved.</label>
                </footer>
            </form>
        </div>
    </body>
</html>
