/*** Elements ***/
footer {
    padding-bottom: 1em;
}

#navList li {
    float: left;
    padding-right: 1em;
    font-size: 20px;
}

.container {
    border: 1px solid #cecece;
    margin-top: 1em;
    margin-bottom: 1em;
}

#nav_bar_header {
    font-size: 30px;
}